<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="{{url_for('static', filename='js/app.js')}}" as="script" />
    <link rel="preload" href="{{url_for('static', filename='js/utility.js')}}" as="script" />
    <link rel="stylesheet" href="{{url_for('static', filename='styles/app.css')}}" as="script" />
    <link rel="stylesheet" href="{{url_for('static', filename='styles/universal.css')}}" as="script" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <title>{{ title }}</title>
</head>
<body>
    <script type="module" src="{{url_for('static', filename='js/app.js')}}"></script>
    <div class="topbar">
        <div class="image-container">
            <img class="logo-image" src="{{url_for('static', filename='media/medley_logo.png')}}" alt="Logo" style=>
            <img class="medley-image" src="{{url_for('static', filename='media/medley_words.png')}}" alt="Medley Words">
        </div>
        <a class="hyland_text" href="https://www.hyland.com/en/resources/events/hy-tech/hackathon" target="_blank">
            Hyland🏠
        </a>
    </div>
    <div class="page-holder">
        <p id="app-title">
            Your Prescriptions
        </p>
        <div id="scroller">
            
        </div>
        <div id="new-prescriptions-bg" class="hidden expanded">
            <div id="new-prescriptions-container">
                <div class="prescriptions-head-container">
                    <p class="prescriptions-header">Prozac: Next Thursday</p>
                </div>
                <form class="prescriptions-form">
                    <div class="prescriptions-row">
                        <div>
                            <label for="endDate">End Date:</label><br>
                            <input type="date" id="fquantity" name="fquantity"><br>
                        </div>
                        <div>
                            <label for="startDate">Start Date:</label><br>
                            <input type="date" id="fstartDate" name="fstartDate"><br>
                        </div>
                    </div>
                    <div class="prescriptions-row">
                        <div>
                            <label for="strength">Strength:</label><br>
                            <input type="text" id="fstrength" name="strength"><br>
                        </div>
                        <div>
                            <label for="directions">Directions:</label><br>
                            <input type="text" id="fdirections" name="directions"><br>
                        </div>
                    </div>
                    <div class="prescriptions-row">
                        <div>
                            <label for="hour">Hour:</label><br>
                            <input type="text" id="fHour" name="fHour"><br>
                        </div>
                        <div>
                            <label for="interval">Interval:</label><br>
                            <input type="text" id="finterval" name="interval"><br>
                        </div>
                    </div>
                    <div class="prescriptions-row">
                        <div>
                            <label for="quantity">Quantity:</label><br>
                            <input type="text" id="fquantity" name="fquantity" ><br>
                        </div>
                        <div>
                            <label for="refills">Refills:</label><br>
                            <input type="text" id="frefills" name="refills" ><br>
                        </div>
                    </div>
                    <p class="prescription-warnings"></p>
                </form>
            </div>
        </div>
        <div class="bottombar">
            <label for="files" id="add-button">+</label>
            <input type="file" id="files" accept="image/*;capture=camera">
        </div>
    </div>

   
</body>
</html>
