<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="{{url_for('static', filename='js/index.js')}}" as="script" />
    <link rel="preload" href="{{url_for('static', filename='js/utility.js')}}" as="script" />
    <link rel="stylesheet" href="{{url_for('static', filename='styles/app.css')}}" as="script" />
    <link rel="stylesheet" href="{{url_for('static', filename='styles/universal.css')}}" as="script" />

    <title>{{ title }}</title>
</head>
<body>
    <script type="module" src="{{url_for('static', filename='js/index.js')}}"></script>
    <div class="topbar">
        <p>
            DALTS
        </p>
        <a href="https://www.hyland.com/en/resources/events/hy-tech/hackathon" target="_blank">
            Hyland 2025 🏠
        </a>
    </div>
    <div class="page-holder">
        <p id="app-title">
            Your Prescriptions
        </p>
        <div id="scroller">
            <button class="prescriptions-container">
                <div class="prescriptions-head-container">
                    <p class="prescriptions-header">Prozac: Next Thursday</p>
                    <p class="prescriptions-description">Click To Expand</p>
                </div>
                <div class="remove-button">
                    <img alt="remove prescription" src="{{url_for('static', filename='media/remove.png')}}"/>
                </div>
            </button>
            <button class="prescriptions-container">
                <p class="prescriptions-header">Prozac: Next Thursday</p>
                <form class="prescriptions-">
                    <div class="prescription-row">
                        <label for="name">name:</label><br>
                        <input type="text" id="fname" name="fname"><br>
                        <label for="strength">strength:</label><br>
                        <input type="text" id="fstrength" name="strength"><br>
                    </div>
                    <div class="prescription-row">
                        <label for="startDate">Start Date:</label><br>
                        <input type="text" id="fstartName" name="fstartName"><br>
                        <label for="directions">Directions:</label><br>
                        <input type="text" id="fdirections" name="directions"><br>
                    </div>
                    <div class="prescription-row">
                        <label for="hour">Hour:</label><br>
                        <input type="text" id="fHour" name="fHour"><br>
                        <label for="interval">Interval:</label><br>
                        <input type="text" id="finterval" name="interval"><br>
                    </div>
                    <div class="prescription-row">
                        <label for="quantity">Quantity:</label><br>
                        <input type="text" id="fquantity" name="fquantity"><br>
                        <label for="refills">Refills:</label><br>
                        <input type="text" id="frefills" name="refills"><br>
                    </div>
                    <div class="prescription-row">
                        <label for="endDate">End Date:</label><br>
                        <input type="text" id="fquantity" name="fquantity"><br>
                        <label for="warnings">Warnings:</label><br>
                        <input type="text" id="fwarnings" name="refills"><br>
                    </div>
                </form>
                <button class="prescriptions-action">Add to Google Calendar</button>
            </button>
        </div>
        <div id="bottombar">
            <button id="add-button">
                +
            </button>
        </div>
    </div>
    <input type="file" id="avatar" accept="image/*;capture=camera">

   
</body>
</html>
