<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="{{url_for('static', filename='js/index.js')}}" as="script" />
    <link rel="preload" href="{{url_for('static', filename='js/utility.js')}}" as="script" />
    <link rel="stylesheet" href="{{url_for('static', filename='styles/welcome.css')}}" as="script" />

    <title>{{ title }}</title>
</head>
<body>
    <script type="module" src="{{url_for('static', filename='js/index.js')}}"></script>

    <div class="page-holder">
        <div class="topbar">
            <p>
                DALTS
            </p>
            <a href="https://www.hyland.com/en/resources/events/hy-tech/hackathon" target="_blank">
                Hyland 2025 🏠
            </a>
        </div>
    </div>
    <input type="file" accept="image/*;capture=camera">

   
</body>
</html>
