<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="{{url_for('static', filename='js/index.js')}}" as="script" />
    <link rel="preload" href="{{url_for('static', filename='js/utility.js')}}" as="script" />
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <p>{{ message }}</p>
    <label for="avatar">Choose a profile picture:</label>

    <input type="file" id="avatar" name="p-photo" accept="image/png, image/jpeg" />
    <script type="module" src="{{url_for('static', filename='js/index.js')}}"></script>
</body>
</html>
