<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="{{url_for('static', filename='js/index.js')}}" as="script" />
    <link rel="preload" href="{{url_for('static', filename='js/utility.js')}}" as="script" />
    <link rel="stylesheet" href="{{url_for('static', filename='styles/welcome.css')}}" as="script" />
    <link rel="stylesheet" href="{{url_for('static', filename='styles/universal.css')}}" as="script" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <title>Home Page</title>
</head>
<body>
    <div class="topbar">
        <div class="image-container">
            <!-- <img class="logo-image" src="{{url_for('static', filename='media/medley_logo.png')}}" alt="Logo" style=> -->
            <img class="medley-image" src="{{url_for('static', filename='media/medley_words.png')}}" alt="Medley Words">
        </div>
        <a class="hyland_text" href="https://www.hyland.com/en/resources/events/hy-tech/hackathon" target="_blank">
            Hyland🏠
        </a>
    </div>
    <div class="page-holder">
        <div id="div-0">
            <div id="holder0">
                <div id="app-title0">
                    Welcome to Medley!
                </div>
                <div class="spacer"></div>
                <div id="mission-statement1">
                    Welcome to Medley! We're here to make managing your health easier with intuitive, reliable tools for tracking prescriptions and medications.
                </div>
            </div>
        </div>
        <div id="div-2">
            <img id="pills" src="{{url_for('static', filename='media/prescription.png')}}">
            <div id = "holder2">
                <div class="spacer"></div>
                <div class="spacer"></div>
                <div class="spacer"></div>
                <div class="spacer"></div>
                <div style="padding-left: 10%; "class="bottom-text">
                    Analyze prescriptions
                </div>
                <div class="spacer"></div>
                <div class="spacer"></div>
                <div class="bottom-text">
                    Get dosage      
                </div>
                <div class="spacer"></div>
                <div class="spacer"></div>
                <div class="bottom-text">
                    Make a schedule      
                </div>
                <div class="spacer"></div>
                <div class="spacer"></div>
                <div class="spacer"></div>
                <div class="spacer"></div>
                
            </div>
            
            

        </div>
        <div id="div-1">
            <div id="top-holder">
                
                <div id="app-title">
                    Mission Statement
                </div>
                <div class="spacer"></div>
                <div id="mission-statement1">
                    We noticed how challenging it can be to keep track of medications, so we designed this website to make it accessible for all! Our goal is to
                </div>
                <div id="mission-statement2">
                    ensure better organization, improved health outcomes, and peace of mind.
                </div>
            </div>
            <img id="logo-image1" src="{{url_for('static', filename='media/medley_logo.png')}}" alt="Logo" style=>

        </div>
        

        <div style="background-image: url('/media/pill-fade.png')" id="pill-fade">
            <button id="app-btn" type="button">Go to the app</button> 
        </div>
    </div>
    <script type="module" src="{{url_for('static', filename='js/index.js')}}"></script>
</body>
</html>
